<div class="layout layout--col gap--space-between">
  <div id="{{ chart_id }}" style="width: 100%"></div>
</div>

<div class="title_bar">
  <img class="image image-stroke image-stroke--medium" src="data:image/svg+xml;base64,{{ adafruit_logo | base64_encode }}" />
  <span class="title">{{ feed_info.name }}</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>

<script>
  // ensure your chart loads before plugin render is generated
  if ("Chartkick" in window) {
    createChart(420);
  } else {
    window.addEventListener("chartkick:load", createChart, true);
  }
</script>
